@font-face {
  font-family: "Ruberoid-Bold";
  src: url("../fonts/Ruberoid-Bold.woff2");
}

@font-face {
  font-family: "Ruberoid-Medium";
  src: url("../fonts/Ruberoid-Medium.woff2");
}

@font-face {
  font-family: "Ruberoid-Light";
  src: url("../fonts/Ruberoid-Light.woff2");
}

@font-face {
  font-family: "Ruberoid-ExtraBold";
  src: url("../fonts/Ruberoid-ExtraBold.woff2");
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--body-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bg-hover-color) ;
}


input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  /* --background-color: #232427; */
  --scroll-bg-color: #7e7b7b;
  --scroll-bg-hover-color: #afacac;
  --body-bg-color: #232427;
  --home-bg-img: url(../img/Rectangle-head.png);
  --sun-img: url(../img/sun_white.png);
  --home-txt-left: white;
  --btn-home-bg: linear-gradient(92.05deg, #e30057 0.62%, #8826d1 100%);
  --bg-git: url(../img/github.svg);
  --logo-bg: url(../img/logo-A.svg);
  --bg-title-card: linear-gradient(91.57deg, #4f4d4d 14.03%, #8a8888 99.09%);
  --card-bg-color: #1b1c20;
  --burger-menu-color: white;

  --bg-title-card-hover: linear-gradient(
    92.04deg,
    #e30057 11.85%,
    #8826d1 99.31%
  );
  --vartical-line-border: 1px solid #79797a;
  --projects-color-circle1: linear-gradient(
    180deg,
    #8826d1 0%,
    rgba(136, 38, 209, 0) 100%
  );
  --projects-color-text1: #8826d1;
  --projects-color-circle2: linear-gradient(
    180deg,
    #f8550e 0%,
    rgba(136, 38, 209, 0) 100%
  );
  --projects-color-text2: #f8550e;
  --projects-color-circle3: linear-gradient(
    180deg,
    #2ff80e 0%,
    rgba(136, 38, 209, 0) 100%
  );
  --projects-color-text3: #2ff80e;
  --projects-color-circle: #296cd1;
}

:root[data-theme="dark"] {

  --scroll-bg-color: #01659e;
  --scroll-bg-hover-color: #4892d8;
  --body-bg-color: #10151c;
  --home-bg-img: url(../img/Ractangle_blue_home.png);
  /* --background-color: rgb(255, 255, 255); */
  /* --home-bg-img: url(/img/Rectangle_head_white.png); */
  --sun-img: url(../img/moon_blue.png);
  /* --home-txt-left: rgb(5, 87, 112); */
  /* --home-txt-left: rgb(179, 232, 248); */
  --btn-home-bg: linear-gradient(92.05deg, #4892d8 0.62%, #923ed3 100%);
  --bg-git: url(../img/blue-git-icon.svg);
  --logo-bg: url(../img/blue_logo.svg);
  --bg-title-card: linear-gradient(91.57deg, #0e3352 14.03%, #8a8888 99.09%);
  --bg-title-card-hover: linear-gradient(92.05deg, #4892d8 0.62%, #923ed3 100%);
  --vartical-line-border: 1px solid rgb(2, 81, 105);
  --card-bg-color: #111822;
  --burger-menu-color: #4892d8;

  --projects-color-circle1: linear-gradient(
    180deg,
    #8826d1 0%,
    rgba(136, 38, 209, 0) 100%
  );

  --projects-color-text1: #8826d1;

  --projects-color-circle2: linear-gradient(
    180deg,
    #f8550e 0%,
    rgba(136, 38, 209, 0) 100%
  );

  --projects-color-text2: #f8550e;

  --projects-color-circle3: linear-gradient(
    180deg,
    rgb(179, 232, 248) 0%,
    rgba(136, 38, 209, 0) 100%
  );

  --projects-color-text3: #296cd1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ruberoid-Light";
}

body {
  background-color: var(--body-bg-color);
  color: white;
}

#container {
  max-width: 1337px;
  margin: 0 auto;
  /* padding: 0 10px 0 10px; */
}
/* Home start */
#home {
  /* min-height: 1117px; */
  /* padding-bottom: 186px; */
  padding: 0 10px 186px 10px;
  position: relative;

  background-image: var(--home-bg-img);
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 50% 100%;
}

.vertical_line {
  position: absolute;
  left: 25%;
  height: 100%;
  border: var(--vartical-line-border);
}
.vertical_line_right {
  position: absolute;
  right: 25%;
  min-height: 350vh;
  border: var(--vartical-line-border);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
  margin-bottom: 115px;
  position: relative;
}

.logo {
  width: 70px;
  height: 70px;
  cursor: pointer;

  transition: all 0.4s ease-in-out;

  background-image: var(--logo-bg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mob_header_links {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 0;
  background-color: var(--card-bg-color);
  z-index: 3;
  display: none;
  /* transition: all 1s ease-in-out; */
}

.mob_header_links img {
  width: 30px;
  height: 30px;

  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.mob_header_links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 41px;
}

.mob_header_links ul li {
  list-style: none;
  cursor: pointer;
}

.mob_header_links ul li a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;

  transition: all 0.4s ease-in-out;
}

.mob_header_links ul li a:hover {
  /* filter: blur(10px); */
  /* transform: scale(1.1); */
  color: var(--home-txt-left);
  border-bottom: 0.2px solid var(--home-txt-left);
}

.mob_social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.mob_social img {
  position: inherit;
  width: 35px;
  height: 35px;
}

.header_links ul {
  display: flex;
  align-items: center;
  gap: 41px;
}

.header_links ul li {
  list-style: none;
  cursor: pointer;
}
.header_links ul li a {
  text-decoration: none;
  color: var(--home-txt-left);
  padding-bottom: 5px;

  transition: all 0.4s ease-in-out;
}

.header_links ul li a:hover {
  /* filter: blur(10px); */
  /* transform: scale(1.1); */
  color: #9ca3af;
  border-bottom: 0.2px solid #9ca3af;
}

.header_social {
  display: flex;
  gap: 43px;
}

.header_social img {
  width: 35px;
  height: 35px;
  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

.sun {
  background-image: var(--sun-img);
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

.row {
  display: none;
  color: var(--burger-menu-color);
}

.git_bg {
  width: 38px;
  height: 38px;
  background-image: var(--bg-git);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.4s ease-in-out;
}

.header_social .git_bg:hover {
  transform: scale(1.1);
}

.header_social .sun:hover {
  transform: scale(1.1);
}

.home_body {
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Ruberoid-ExtraBold" !important;
}

.home_body h1 {
  position: absolute;
  /* font-family: "adineue PRO"; */
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  font-family: "Ruberoid-ExtraBold";
  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

.home_body h1:hover {
  animation: lights 2s 750ms linear infinite;
  transform: scale(1.02);
}

.flipX {
  animation: 4s anim-flipX ease infinite;
  color: var(--home-txt-left);
  transition: all 0.4s ease-in-out;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(202, 100%, 50%, 0.5),
      0 0 0.125em hsla(204, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(204, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 69%, 10%, 0.5),
      0 0 0.125em hsla(321, 45%, 15%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(219, 100%, 50%, 0.2),
      0 0 0.125em hsla(204, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

.myWork_link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 268px;
  height: 50px;
  background: var(--btn-home-bg);
  border-radius: 25px;
  color: white;
  cursor: pointer;
  border-color: transparent;
  position: absolute;
  left: 16%;

  transition: all 0.4s ease-in-out;
}

.myWork_link:hover {
  /* transform: scale(1.1); */
}

.left-text {
  left: 10%;
  top: 22%;
  color: var(--home-txt-left);
}

.right-text {
  right: 6%;
  bottom: 38%;
  color: var(--home-txt-left);
}

.home_body h2 {
  position: absolute;
  top: 12%;
  left: 10%;

  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
    0 0 40px rgba(0, 170, 255, 0.6), 0 0 70px rgba(0, 170, 255, 0.6),
    0 0 80px rgba(0, 170, 255, 0.2), 0 0 100px rgba(0, 170, 255, 0.1),
    0 0 150px rgba(0, 170, 255, 0.1); */

  animation: lights 5s 750ms linear ease-in;

  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.phone_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  /* margin-left: 0; */
  /* position: absolute;
  top: 20px;
  right: 20px; */
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* CLEARFIX */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
  z-index: 4;
}

/* ALL */

.hamburger .line {
  width: 40px;
  height: 3px;
  background-color: var(--burger-menu-color);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger .is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger .is-active .line:nth-child(2) {
  width: 0px;
}

#hamburger .is-active .line:nth-child(1),
#hamburger .is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger .is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger .is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

@media (max-width: 1100px) {
  body {
    background-size: 50% 1000px;
  }

  /* .vertical_line {
    position: absolute;
    left: 25%;
    min-height: 1000px;
  } */

  .home_body h1 {
    font-size: 75px;
  }

  .home_body h2 {
    font-size: 28px;
  }

  .phone_img {
    width: 410px;
    height: 580px;
  }

  .myWork_link {
    font-size: 18px;
    width: 249px;
    height: 45px;
    left: 12%;
  }
}

@media (max-width: 978px) {
  .home_body h1 {
    font-size: 70px;
  }

  .left-text {
    left: 8%;
  }

  .right-text {
    right: 5%;
  }

  .home_body h2 {
    font-size: 25px;
  }

  .phone_img {
    width: 400px;
    height: 570px;
  }
}

@media (max-width: 840px) {
  .header_social {
    display: flex;
    gap: 25px;
  }

  .header_links ul {
    gap: 25px;
  }
  .myWork_link {
    font-size: 2.3vw;
    width: 30vw;
    height: 5vw;
    left: 10%;
  }

  .hamburger .line {
    height: 2px;
  }

  .home_body h2 {
    font-size: 3vw;
  }

  .home_body h1 {
    font-size: 7.5vw;
  }

  .phone_img {
    width: 45vw;
    height: 65vw;
  }

  .vertical_line {
    border: 1px solid #79797a;
  }

  .vertical_line_right {
    border: 1px solid #79797a;
  }
}

@media (max-width: 678px) {
  #home {
    padding: 0 10px 150px 10px;
  }
  .header {
    margin-bottom: 90px;
  }

  .header_links {
    display: none;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .header_social {
    display: none;
  }

  .hamburger .line {
    width: 30px;
  }

  .mob_header_links img {
    width: 30px;
    height: 30px;
  }

  .row {
    display: block;
  }

  .phone_img {
    /* width: 400px;
    height: 570px; */
    width: 60vw;
    height: 85vw;
  }

  .myWork_link {
    font-size: 2.3vw;
    width: 32vw;
    height: 7vw;
    left: 5;
    bottom: 0;
    left: 34%;
  }

  .home_body h2 {
    top: 20%;
    left: 8%;
  }
}

@media (max-width: 540px) {
  /* .phone_img {
    width: 332px;
    height: 480px;
  } */

  .home_body h1 {
    font-size: 12.5vw;
  }
  .home_body h2 {
    font-size: 4vw;
  }

  .myWork_link {
    font-size: 3.3vw;
    width: 49vw;
    height: 9vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
  }

  .phone_img {
    width: 67vw;
    height: 100vw;
  }

  .vertical_line {
    border: 1px solid #79797a;
  }

  .vertical_line_right {
    border: 1px solid #79797a;
  }
}

@media (max-width: 400px) {
  .home_body h1 {
    font-size: 10.5vw;
  }

  .left-text {
    top: 20%;
  }

  .myWork_link {
    transform: translate(-50%, 350%);
  }
}

@media (max-width: 375px) {
  .home_body h1 {
    font-size: 12.5vw;
  }

  .home_body h2 {
    font-size: 5vw;
  }

  .left-text {
    top: 20%;
  }

  .right-text {
    bottom: 26%;
  }
}

/* Home end */

/* Skills start */

#skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
  padding: 150px 10px 150px 10px;
}

.card {
  width: 448px;
  height: 542px;
  background: var(--card-bg-color);
  position: relative;
  padding: 160px 25px 212px 25px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

.active {
  width: 448px;
  height: 542px;
  background: var(--card-bg-color);
  position: relative;
  padding: 160px 25px 212px 25px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.active svg {
  position: absolute;
  top: 45px;
  right: 36px;
  opacity: 1 !important;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.card svg {
  position: absolute;
  top: 45px;
  right: 36px;
  opacity: 0;
}

.card:hover svg {
  opacity: 1;
}

/* .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
} */

.card-content {
  text-align: left;
  max-width: 372px;
  color: var(--home-txt-left);
}

.card h1 {
  font-family: "Ruberoid-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  background: var(--bg-title-card);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  transition: color 1s ease-in-out;
  position: absolute;
  right: 18px;
  bottom: 50px;
}

.active h1 {
  background: var(--bg-title-card-hover);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.card:hover h1 {
  background: var(--bg-title-card-hover);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;

  transition: all 0.4s ease-in-out;
}

.skills_line {
  border-bottom: var(--vartical-line-border);
}

@media (max-width: 1100px) {
  #skills {
    flex-wrap: wrap;
    gap: 22px;
  }

  .card {
    width: 420px;
    height: 500px;
    padding: 140px 25px 140px 25px;
  }

  .card h1 {
    font-size: 68px;
    right: 36px;
    bottom: 4%;
  }

  .active {
    width: 420px;
    height: 500px;
    padding: 140px 25px 140px 25px;
  }

  .active h1 {
    font-size: 68px;
    right: 36px;
    bottom: 4%;
  }
}

@media (max-width: 900px) {
  #skills {
    justify-content: center;
  }

  .active {
    width: 448px;
    height: 542px;
    padding: 160px 25px 212px 25px;
  }
  .active h1 {
    font-size: 72px;
  }

  .card {
    width: 448px;
    height: 542px;
    padding: 160px 25px 212px 25px;
  }

  .card h1 {
    font-size: 72px;
  }
}

@media (max-width: 600px) {
  #skills {
    padding: 100px 10px 100px 10px;
  }

  .card {
    width: 70vw;
    height: 85vw;
    padding: 120px 25px 120px 25px;
  }

  .card h1 {
    /* font-size: 68px; */
    font-size: 12vw;
    right: 36px;
    bottom: 4%;
  }

  .card p {
    font-size: 3vw;
  }

  .active {
    width: 70vw;
    height: 85vw;
    padding: 120px 25px 120px 25px;
  }

  .active h1 {
    font-size: 12vw;
    right: 36px;
    bottom: 4%;
  }
}
@media (max-width: 475px) {
  .card {
    padding: 70px 25px 70px 25px;
  }

  .active {
    padding: 70px 25px 70px 25px;
  }

  .card svg {
    top: 20px;
    right: 20px;
  }

  .card h1 {
    font-size: 12vw;
    right: 20px;
    bottom: 0;
  }

  .active svg {
    top: 20px;
    right: 20px;
  }

  .active h1 {
    font-size: 12vw;
    right: 20px;
    bottom: 0;
  }
}

@media (max-width: 375px) {
  .card {
    padding: 60px 25px 60px 25px;
  }

  .active {
    padding: 60px 25px 60px 25px;
  }

  .card svg {
    top: 20px;
    right: 20px;
  }

  .card h1 {
    font-size: 10vw;
    right: 20px;
    bottom: 0;
  }

  .active svg {
    top: 20px;
    right: 20px;
  }

  .active h1 {
    font-size: 10vw;
    right: 20px;
    bottom: 0;
  }
}

/* Skills end */

/* Projects start */

/* #projects {
  min-height: 972px;
  background: linear-gradient(rgb(10 6 6 / 66%), rgb(0 0 0 / 74%)) no-repeat
      center,
    url(/img/tocha_screen.png) no-repeat center;
  background-size: 1243px 745px;
  position: relative;
} */

#projects {
  padding: 0 10px 0 10px;
}

.projects_title {
  font-family: "Ruberoid-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  margin-bottom: 44px;

  text-align: center;
}

.circls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
}

.project_one {
  min-height: 972px;
  /* margin-top: 136px; */
  background: linear-gradient(rgb(10 6 6 / 66%), rgb(0 0 0 / 74%)) no-repeat
      center,
    url(../img/tocha_screen.png) no-repeat center;
  background-size: 1243px 745px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.line_one_card {
  width: 3px;
  height: 108px;
  background: #8826d1c4;
  position: absolute;
  left: 0;
  bottom: 30%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.project_two {
  min-height: 972px;
  /* margin-top: 136px; */
  background: linear-gradient(rgb(10 6 6 / 66%), rgb(0 0 0 / 74%)) no-repeat
      center,
    url(../img/shortLink.png) no-repeat center;
  background-size: 1243px 745px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.line_two_card {
  width: 3px;
  height: 108px;
  background: #f8550e8c;
  position: absolute;
  left: 0;
  bottom: 30%;

  opacity: 0;
  transition: all 1s ease-in-out;
}

.project_three {
  height: 75vh;
  /* margin-top: 136px; */
  background: linear-gradient(rgb(10 6 6 / 66%), rgb(0 0 0 / 74%)) no-repeat
      center,
    url(../img/bdo.png) no-repeat center;
  background-size: 1243px 745px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 166px; */
}

.projects_title {
  color: var(--home-txt-left);
}

.projects_card_desc {
  color: var(--home-txt-left);
}

.line_three_card {
  width: 3px;
  height: 108px;
  background: rgb(5, 87, 112);
  position: absolute;
  left: 0;
  bottom: 30%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.project_one_circle {
  width: 86px;
  height: 86px;
  border-radius: 50%;

  background: linear-gradient(180deg, #8826d1c4 0%, rgba(136, 38, 209, 0) 100%);
}

.project_two_circle {
  width: 86px;
  height: 86px;
  border-radius: 50%;

  background: linear-gradient(180deg, #f8550e8c 0%, rgba(136, 38, 209, 0) 100%);
}

.project_three_circle {
  width: 86px;
  height: 86px;
  border-radius: 50%;

  background: var(--projects-color-circle3);
}

.projects_card {
  height: 246px;
  width: 642px;
  border-radius: 2px;

  position: absolute;
  right: 0;
  bottom: 3%;

  background: #232427;
  background: var(--card-bg-color);
  box-shadow: -3px 4px 9px rgba(0, 0, 0, 0.5);

  background-image: url(../img/logo_background.svg);
  background-repeat: no-repeat;
  background-position: right;

  padding: 36px 57px 50px 68px;

  transition: all 1s ease-in-out;
  cursor: pointer;
}

/* .projects_card:hover {
  transform: scale(1.02);
} */

.projects_card:hover .line_three_card {
  opacity: 1;
}

.projects_card:hover .line_two_card {
  opacity: 1;
}

.projects_card:hover .line_one_card {
  opacity: 1;
}

.projects_card p {
  font-family: "Ruberoid-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

.projects_card_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.project_one .projects_card_head a {
  font-family: "Ruberoid-ExtraBold";
  color: #8826d1c4;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  transition: all 0.5s ease-in-out;
}

.project_one .projects_card_head a:hover {
  color: #8826d1;
}

.project_two .projects_card_head a {
  font-family: "Ruberoid-ExtraBold";
  /* color: #f8550e; */
  color: #f8550e8c;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  transition: all 0.5s ease-in-out;
}

.project_two .projects_card_head a:hover {
  color: #f8550e;
}

.project_three .projects_card_head a {
  font-family: "Ruberoid-ExtraBold";
  color: rgb(5, 87, 112);
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  transition: all 0.5s ease-in-out;
}

.project_three .projects_card_head a:hover {
  color: #0e89af;
}

@media (max-width: 1280px) {
  .project_three,
  .project_two,
  .project_one {
    background-size: 1190px 710px;
  }
}

@media (max-width: 1100px) {
  .project_three,
  .project_two,
  .project_one {
    background-size: 96vw 60vw;
  }
}

@media (max-width: 890px) {
  .projects_card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 55%);
  }

  .project_three_circle,
  .project_two_circle,
  .project_one_circle {
    width: 76px;
    height: 76px;
  }
  .projects_title {
    font-size: 70px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .projects_card {
    height: 200px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 55%);
    padding: 20px 50px 20px 50px;
  }

  .line_three_card,
  .line_two_card,
  .line_one_card {
    bottom: 23%;
  }

  .projects_card_head a {
    font-size: 20px;
  }

  .projects_card p {
    font-size: 20px;
  }
}

@media (max-width: 670px) {
  .vertical_line_right {
    border: 1px solid #79797a;
    z-index: -1;
    min-height: 200%;
  }

  .projects_card {
    height: 35vw;
    width: 80vw;
    padding: 20px 20px 20px 20px;
  }

  /* .project_three,
  .project_two,
  .project_one {
    height: 60vh;
    margin-bottom: 0;
  } */

  .projects_card_head {
    margin-bottom: 5vw;
  }

  .projects_title {
    font-size: 9vw;
  }

  .project_three_circle,
  .project_two_circle,
  .project_one_circle {
    width: 8.5vw;
    height: 8.5vw;
  }
  .circls {
    gap: 25px;
  }

  .project_three .projects_card_head a,
  .project_two .projects_card_head a,
  .project_one .projects_card_head a {
    font-size: 3vw;
  }

  .projects_card p {
    font-size: 3vw;
  }

  .line_three_card,
  .line_two_card,
  .line_one_card {
    height: 17vw;
  }
}
@media (max-width: 540px) {
  .projects_card {
    height: 40vw;
  }

  .projects_card p {
    font-size: 3vw;
    line-height: 25px;
  }
}

@media (max-width: 470px) {
  .project_three,
  .project_two,
  .project_one {
    min-height: 65vh;
    height: 65vh;
    margin-bottom: 0;
  }

  .projects_title {
    line-height: 45px;
  }

  .projects_card p {
    font-size: 2.3vw;
    line-height: 22px;
  }

  .projects_card_head {
    margin-bottom: 3vw;
  }
}

@media (max-width: 375px) {
  /* .project_three,
  .project_two,
  .project_one {
    min-height: 36vh;
    height: 36vh;
  } */

  .projects_card {
    padding: 10px 15px 10px 15px;
  }
}

/* End projects */

/*  Start contact*/

#contact {
  margin: 126px 10px 127px 10px;
  background: var(--card-bg-color);
  /* padding: 123px 273px 124px 334px; */
  color: white;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 771px;
  position: relative;
}

.contact_form {
  width: 747px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.contact_form input {
  font-family: "Ruberoid-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  width: 100%;
  height: 66px;
  background-color: transparent;
  border: transparent;
  padding: 0 0 15px 0;
  margin-bottom: 36px;
  color: var(--home-txt-left);

  border-bottom: var(--vartical-line-border);
  border-top: none;
  border-left: none;
  border-right: none;
}

.contact_form input:focus {
  outline: none;
}

.contact_form textarea {
  font-family: "Ruberoid-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: white;
  width: 100%;
  height: 66px;
  background-color: transparent;
  border: transparent;
  padding: 0 0 15px 0;

  border-bottom: var(--vartical-line-border);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 36px;
  resize: none;
}

.contact_form textarea:focus {
  outline: none;
}

.contact_form button {
  font-family: "Ruberoid-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  height: 68px;
  color: white;

  background: var(--btn-home-bg);
  /* background: linear-gradient(90deg, #e30057 10.76%, #8826d1 65.53%); */
  border-radius: 35px;
  border-color: transparent;
  cursor: pointer;
  margin-bottom: 51px;

  transition: all 1s ease-in-out;
}

.contact_form button:hover {
  transform: scale(1.01);
}

.gmail {
  width: 316px;
}

.gmail a {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;

  color: var(--home-txt-left);
  transition: all 1s ease-in-out;
}

.gmail:hover .contact_line_gmail {
  width: 100%;
}

.contact_line_gmail {
  margin-top: 10px;
  width: 50px;
  height: 5px;
  background: var(--btn-home-bg);

  transition: all 1s ease-in-out;
}

@media (max-width: 1100px) {
  .contact_form {
    width: 60%;
  }
}

@media (max-width: 768px) {
  form {
    height: 700px;
  }

  .contact_form {
    width: 80%;
  }

  .contact_form button,
  .contact_form input,
  .contact_form textarea {
    font-size: 3vw;
    padding: 0;
    margin-bottom: 5vw;
  }

  .contact_form button {
    height: 9vw;
  }

  .gmail {
    width: 47.2vw;
  }

  .gmail a {
    font-size: 3vw;
  }
  .contact_line_gmail {
    margin-top: 1vw;
    width: 6vw;
    height: 0.7vw;
  }
}

@media (max-width: 480px) {
  #contact {
    margin: 100px 10px 100px 10px;
  }

  form {
    height: 620px;
  }

  .contact_form {
    width: 88%;
  }
}

@media (max-width: 375px) {
  form {
    height: 468px;
  }

  .contact_form input,
  .contact_form textarea {
    height: 45px;
  }
}

/*  End contact*/

/* Footer start */

footer {
  min-height: 362px;
  background: var(--card-bg-color);
  /* margin: 0 10px 0 10px; */
}

.footer_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 362px;
  width: 650px;
  margin: 0 auto;
  color: var(--home-txt-left);
}

footer .foot_logo {
  width: 75px;
  height: 70px;
  cursor: pointer;
}

@media (max-width: 780px) {
  .footer_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 362px;
    max-width: 520px;
  }
}

@media (max-width: 590px) {
  .footer_body {
    max-width: 360px;
  }
}

@media (max-width: 480px) {
  footer {
    min-height: 280px;
  }

  .footer_body {
    max-width: 100%;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    height: 280px;
  }
}

@media (max-width: 375px) {
  .footer_body p {
    font-size: 4vw;
  }

  footer .foot_logo {
    width: 20.5vw;
    height: 20.5vw;
    cursor: pointer;
  }
}

/* Footer End */
