@font-face {
  font-family: "Ruberoid-Bold";
  src: url("./fonts/Ruberoid-Bold.woff2");
}

@font-face {
  font-family: "Ruberoid-Medium";
  src: url("./fonts/Ruberoid-Medium.woff2");
}

@font-face {
  font-family: "Ruberoid-Light";
  src: url("./fonts/Ruberoid-Light.woff2");
}

@font-face {
  font-family: "Ruberoid-ExtraBold";
  src: url("./fonts/Ruberoid-ExtraBold.woff2");
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ruberoid-Light";
}

body {
  background-color: #232427;
  color: white;
  background-image: url(./img/Rectangle-head.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 50% 1117px;
}

#container {
  max-width: 1337px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

#home {
  /* min-height: 1117px; */
  padding-bottom: 186px;
  position: relative;
}

.vertical_line {
  position: absolute;
  left: 25%;
  min-height: 1117px;
  width: 2px;
  border: 2px solid #79797a;
}
.vertical_line_right {
  position: absolute;
  right: 25%;
  min-height: 350vh;
  width: 2px;
  border: 2px solid #79797a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
  margin-bottom: 115px;
}

.logo {
  width: 50px;
  height: 87px;
  cursor: pointer;
  transition: width 0.4s ease-in-out;
}

.header_links ul {
  display: flex;
  align-items: center;
  gap: 41px;
}

.header_links ul li {
  list-style: none;
  cursor: pointer;
}
.header_links ul li a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;

  transition: all 0.4s ease-in-out;
}

.header_links ul li a:hover {
  /* filter: blur(10px); */
  /* transform: scale(1.1); */
  color: #9ca3af;
  border-bottom: 0.2px solid #9ca3af;
}

.header_social {
  display: flex;
  gap: 43px;
}

.header_social img {
  width: 35px;
  height: 35px;
  cursor: pointer;

  transition: transform 0.4s ease-in-out;
}

.header_social img:hover {
  transform: scale(1.1);
}

.home_body {
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Ruberoid-ExtraBold" !important;
}

.home_body h1 {
  position: absolute;
  /* font-family: "adineue PRO"; */
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  font-family: "Ruberoid-ExtraBold";
  cursor: pointer;

  transition: transform 0.2s ease-in-out;
}

.home_body h1:hover {
  animation: lights 2s 750ms linear infinite;
  transform: scale(1.02);
}

.flipX {
  animation: 4s anim-flipX ease infinite;
}

/* @keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
} */

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(202, 100%, 50%, 0.5),
      0 0 0.125em hsla(204, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(204, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 69%, 10%, 0.5),
      0 0 0.125em hsla(321, 45%, 15%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(219, 100%, 50%, 0.2),
      0 0 0.125em hsla(204, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

.myWork_link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 268px;
  height: 50px;
  background: linear-gradient(92.05deg, #e30057 0.62%, #8826d1 100%);
  border-radius: 25px;
  color: white;
  cursor: pointer;

  position: absolute;
  left: 16%;

  transition: transform 0.4s ease-in-out;
}

.myWork_link:hover {
  transform: scale(1.1);
}

.left-text {
  left: 10%;
  top: 22%;
}

.right-text {
  right: 6%;
  bottom: 38%;
}

.home_body h2 {
  position: absolute;
  top: 12%;
  left: 10%;

  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
    0 0 40px rgba(0, 170, 255, 0.6), 0 0 70px rgba(0, 170, 255, 0.6),
    0 0 80px rgba(0, 170, 255, 0.2), 0 0 100px rgba(0, 170, 255, 0.1),
    0 0 150px rgba(0, 170, 255, 0.1); */

  animation: lights 5s 750ms linear ease-in;

  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.phone_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Skills start */

#skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.card {
  width: 448px;
  height: 542px;
  background: #1b1c20;
  position: relative;
  padding: 160px 25px 212px 25px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.card svg {
  position: absolute;
  top: 45px;
  right: 36px;
  opacity: 0;
}

.card:hover svg {
  opacity: 1;
}

/* .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
} */

.card-content {
  text-align: left;
  max-width: 372px;
}

.card h1 {
  font-family: "Ruberoid-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  background: linear-gradient(91.57deg, #4f4d4d 14.03%, #8a8888 99.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  transition: color 1s ease-in-out;
  position: absolute;
  right: 18px;
  bottom: 50px;
}

.card:hover h1 {
  background: linear-gradient(92.04deg, #e30057 11.85%, #8826d1 99.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.skills_line {
  border-bottom: 1px solid #fffafa;
}

/* Skills end */

/* Projects start */

/* #projects {
  min-height: 972px;
  background: linear-gradient(rgb(10 6 6 / 66%), rgb(0 0 0 / 74%)) no-repeat
      center,
    url(/img/tocha_screen.png) no-repeat center;
  background-size: 1243px 745px;
  position: relative;
} */

.projects_title {
  font-family: "Ruberoid-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  margin-bottom: 44px;

  text-align: center;
}

.circls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
}

.project_one {
  min-height: 972px;
  /* margin-top: 136px; */
  background: linear-gradient(rgb(10 6 6 / 66%), rgb(0 0 0 / 74%)) no-repeat
      center,
    url(/img/tocha_screen.png) no-repeat center;
  background-size: 1243px 745px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.line_one_card {
  width: 3px;
  height: 108px;
  background: #8826d1;
  position: absolute;
  left: 0;
  bottom: 30%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.project_two {
  min-height: 972px;
  /* margin-top: 136px; */
  background: linear-gradient(rgb(10 6 6 / 66%), rgb(0 0 0 / 74%)) no-repeat
      center,
    url(/img/shortLink.png) no-repeat center;
  background-size: 1243px 745px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.line_two_card {
  width: 3px;
  height: 108px;
  background: #f8550e;
  position: absolute;
  left: 0;
  bottom: 30%;

  opacity: 0;
  transition: all 1s ease-in-out;
}

.project_three {
  min-height: 972px;
  height: 75vh;
  /* margin-top: 136px; */
  background: linear-gradient(rgb(10 6 6 / 66%), rgb(0 0 0 / 74%)) no-repeat
      center,
    url(/img/bdo.png) no-repeat center;
  background-size: 1243px 745px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 166px;
}

.line_three_card {
  width: 3px;
  height: 108px;
  background: #2ff80e;
  position: absolute;
  left: 0;
  bottom: 30%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.project_one_circle {
  width: 86px;
  height: 86px;
  border-radius: 50%;

  background: linear-gradient(180deg, #bd0f71 0%, rgba(136, 38, 209, 0) 100%);
}

.project_two_circle {
  width: 86px;
  height: 86px;
  border-radius: 50%;

  background: linear-gradient(180deg, #f8550e 0%, rgba(136, 38, 209, 0) 100%);
}

.project_three_circle {
  width: 86px;
  height: 86px;
  border-radius: 50%;

  background: linear-gradient(180deg, #2ff80e 0%, rgba(136, 38, 209, 0) 100%);
}

.projects_card {
  height: 246px;
  width: 642px;
  border-radius: 2px;

  position: absolute;
  right: 0;
  bottom: 3%;

  background: #232427;
  box-shadow: -3px 4px 9px rgba(0, 0, 0, 0.5);

  background-image: url(/img/logo_background.svg);
  background-repeat: no-repeat;
  background-position: right;

  padding: 36px 57px 50px 68px;

  transition: all 1s ease-in-out;
  cursor: pointer;
}

.projects_card:hover {
  transform: scale(1.02);
}

.projects_card:hover .line_three_card {
  opacity: 1;
}

.projects_card:hover .line_two_card {
  opacity: 1;
}

.projects_card:hover .line_one_card {
  opacity: 1;
}

.projects_card p {
  font-family: "Ruberoid-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

.projects_card_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.project_one .projects_card_head a {
  font-family: "Ruberoid-ExtraBold";
  color: #8826d1;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.project_two .projects_card_head a {
  font-family: "Ruberoid-ExtraBold";
  color: #f8550e;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.project_three .projects_card_head a {
  font-family: "Ruberoid-ExtraBold";
  color: #2ff80e;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

/* End projects */

/*  Start contact*/

#contact {
  margin: 126px 0 127px 0;
}

.contact_form {
  max-width: 1354px;
  height: 711px;
  background: #1b1c20;
  padding: 123px 273px 124px 334px;
  color: white;
}

.contact_form input {
  font-family: "Ruberoid-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  width: 734px;
  height: 66px;
  background-color: transparent;
  border: transparent;
  padding: 0 0 15px 0;
  margin-bottom: 36px;
  color: white;

  border-bottom: 2px solid #79797a;
  border-top: none;
  border-left: none;
  border-right: none;
}

.contact_form input:focus {
  outline: none;
}

.contact_form textarea {
  font-family: "Ruberoid-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: white;
  width: 734px;
  height: 66px;
  background-color: transparent;
  border: transparent;
  padding: 0 0 15px 0;

  border-bottom: 2px solid #79797a;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 36px;
  resize: none;
}

.contact_form textarea:focus {
  outline: none;
}

.contact_form button {
  font-family: "Ruberoid-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 734px;
  height: 68px;
  color: white;

  background: linear-gradient(90deg, #e30057 10.76%, #8826d1 65.53%);
  border-radius: 35px;
  cursor: pointer;
  margin-bottom: 51px;

  transition: all 1s ease-in-out;
}

.contact_form button:hover {
  transform: scale(1.01);
}

.gmail {
  width: 316px;
}

.gmail a {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;

  color: #ffffff;
}

.gmail:hover .contact_line_gmail {
  width: 100%;
}

.contact_line_gmail {
  margin-top: 10px;
  width: 50px;
  height: 5px;
  background: linear-gradient(90deg, #e30057 0%, #8826d1 103.26%);

  transition: all 1s ease-in-out;
}

/*  End contact*/

/* Footer start */

footer {
  min-height: 362px;
  background: #1b1c20;
}

.footer_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 362px;
  width: 650px;
  margin: 0 auto;
}

footer .foot_logo {
  width: 75px;
  height: 70px;
  cursor: pointer;
}
/* Footer End */
